@include at-breakpoint(0px 401px) {
	#admin-menu {
		display: none !important;
	}

	body.admin-menu {
		margin-top: 0 !important;
	}
}

body {
	font-family: $font-standard;
	line-height: 1.5;
	font-weight: 300;
	background-color: $color-darkgrey;
	color: #333;

	@include at-breakpoint($bp-pad) {
		background-color: $color-beige;
	}
}

a {
	transition: color ease-in 0.2s, background-color ease-in 0.2s, border-color ease-in 0.2s;
	text-decoration: none;
	border-bottom: 1px dotted transparent;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-headings;
	text-transform: uppercase;
	line-height: 1.2;
}

.Logo {
	background: $color-beige;
	text-align: center;
	@include rem(padding, 10px);

	@include at-breakpoint($bp-pad) {
		display: none;
	}

	@include at-breakpoint($bp-largescreen) {
		background: transparent;
		display: block;
		position: fixed;
		top: 150px;
		right: 0;
		z-index: 999;
	}
}

.Logo-img {

	@media all and (max-height: 480px) and (max-width: 320px) {
		width: 150px;
		height: 150px;
	}

	@media all and (min-height: 500px) {
		width: 200px;
		height: 200px;
	}

}


.info-container {
	@include at-breakpoint($bp-pad) {
		@include span-columns(6, 12);
		@include rem(margin-bottom, 20px);

		&:nth-child(2n+2) {
			@include omega;
		}
	}
}
