.Schedule {
	@extend %card;
	width: 100%;
	font-size: 0.8em;

	td {
		border: 1px solid #eee;
		padding: 5px;

		@include at-breakpoint($bp-smallscreen) {
			padding: 5px 10px;
		}
	}
}

.Schedule-heading {
	font-family: $font-headings;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.2em;
}

.Schedule-track {
	width: 40%;
}

.Schedule-time {
	width: 20%;
	font-weight: bold;
}
