.Schedule {
	@extend %card;
	width: 100%;
	font-size: 0.8em;
}

.Schedule-heading {
	font-family: $font-headings;
	text-transform: uppercase;
}

.Schedule-track {
	width: 40%;
}

.Schedule-time {
	width: 20%;
}

.Schedule-track,
.Schedule-time {
	padding: 5px;
}
